doctype html
html(lang="en" ng-app="monopoly")
  head
    title Monopoly!
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
      rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    )

    //- inline styles like a renegade
    style.
      button:focus { outline-style: none; }
      button.list-group-item { text-align: center; }

      .list-group .glyphicon { margin-left: 50%; }

      .prize-group { padding-top: 10px; }

      @media (min-width: 768px) {
        .container {
          max-width: 50%;
        }
      }

  body(ng-controller="MainController")
    .container
      h1 Monopoly Prizes

      .btn-group
        label.btn.btn-default.btn-lg(ng-model='alpha', uib-btn-radio="true")
          span.glyphicon.glyphicon-sort-by-alphabet
        label.btn.btn-default.btn-lg(ng-model='alpha', uib-btn-radio="false")
          span.glyphicon.glyphicon-sort-by-attributes-alt

      h2.
        Prizes

      .list-group(ng-if="alpha")
        button.list-group-item(
          ng-repeat="id in prizeIds"
          ng-click="owned[id] = !owned[id]"
          type="button"
        )
          | {{ id }}
          |
          span.glyphicon(ng-class="glyphClass(id)")

      .groups(ng-if="!alpha")
        .prize-group(ng-repeat="prize in prizes")
          h3.
            {{ prizeNames[prize[0].substr(0,2)] || prize[0].substr(0,2) }}
          uib-progressbar(value="progress(prize)" max="prize.length" type="{{progressType(prize)}}")
          .list-group
            button.list-group-item(
              ng-repeat="id in prize"
              ng-click="owned[id] = !owned[id]"
              type="button"
            )
              | {{ id }}
              |
              span.glyphicon(ng-class="glyphClass(id)")

    script(src="_bundle.js")
